---
import Audio from 'astro-media-kit/components/Audio.astro'
import Layout from '../layouts/Layout.astro'
import { pages } from '../pages'

const { title } = pages.find((p) => p.href === '/audio-component')!
---

<Layout title={title}>
	<h1>{title}</h1>

	<h2>SoundCloud</h2>
	<Audio src="6836449" />

	<h2>SoundCloud (explicit service)</h2>
	<Audio service="soundcloud" src="6836449" />

	<h2>Local file</h2>
	<Audio src="/test.mp3" />

	<h2>Loop + muted</h2>
	<Audio loop={true} muted={true} src="/test.mp3" />

	<h2>Preload none</h2>
	<Audio preload="none" src="/test.mp3" />

	<h2>Custom label</h2>
	<Audio label="Test audio clip" src="/test.mp3" />

	<h2>Caption &amp; credit</h2>
	<Audio creator="Test Creator" organization="Test Org" showCredit={true} src="/test.mp3"
		>Audio caption text</Audio
	>
</Layout>
