---
import { extractZoomTarget } from './utils/image'

type Props = {
	zoom?: boolean | string | undefined
}

const { zoom = false } = Astro.props

let mediaComponentHtml = ''
let zoomUrl = ''
let zoomWidth = 0
let zoomHeight = 0
let zoomSrcset = ''
let galleryName: string | undefined

if (zoom) {
	if (!Astro.slots.has('media-component')) {
		throw new Error('Zoomer component requires a media-component slot when zoom is enabled.')
	}

	mediaComponentHtml = await Astro.slots.render('media-component')
	const target = extractZoomTarget(mediaComponentHtml)
	zoomUrl = target.url
	zoomWidth = target.width
	zoomHeight = target.height
	zoomSrcset = target.srcset

	if (typeof zoom === 'string') {
		galleryName = zoom
	}
}
---

{
	zoom ? (
		<a
			class="pswp-zoom"
			data-pswp-gallery={galleryName}
			data-pswp-height={zoomHeight}
			data-pswp-srcset={zoomSrcset}
			data-pswp-width={zoomWidth}
			href={zoomUrl}
		>
			<Fragment set:html={mediaComponentHtml} />
		</a>
	) : (
		<slot name="media-component" />
	)
}

<script>
	import './utils/lightbox'
</script>

<style>
	a.pswp-zoom {
		cursor: zoom-in;
	}
</style>
